<%= form_for(@actor) do |f| %>
  <% if @actor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@actor.errors.count, "error") %> prohibited this actor from being saved:</h2>

      <ul>
      <% @actor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.collection_select :actor_id, @actors, :id, :name, {:include_blank => 'Select an Actor'}, class: 'form-control', placeholder: 'Actor Name' %>
  </div>
  <div class="form-group">
    <%= f.collection_select :movie_id, @movies, :id, :name, {:include_blank => 'Select a Movie'}, class: 'form-control', placeholder: 'Movie Name' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
