<p id="notice"><%= notice %></p>

<h1>Actors</h1>

<p> 
  <%= link_to new_actor_path  do %>
  <i class="glyphicon glyphicon-plus"> New Actor</i>
  <% end %>
</p>

<div class="row">
    <% @actors.each do |actor| %>
    <div class="col-md-6">
      <div class="well">
      
        <%= actor.name %>
        <h2><%= link_to actor.name, actor %></h2>

        <p>

        <h2><%= link_to edit_actor_path(actor) do %></h2>
        <i class="glyphicon glyphicon-pencil"></i>
        <% end %>

        <%= link_to actor, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="glyphicon glyphicon-trash"> </i>
        <% end %>

        </p>

      </div>
    </div>

    <% end %>
</div>

<br>

<%= link_to 'New Actor', new_actor_path %>
