<%= form_for(@movie) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.collection_select :movie_id, @movies, :id, :name, {:include_blank => 'Select a Movie'}, class: 'form-control', placeholder: 'Movie Name' %>
  </div>
  <div class="field">
    <%= f.text_field :name, class: 'form-control', placeholder: 'Genre Name'%>
  </div>
  <div class="field">
   <%= f.collection_select :actor_id, @actors, :id, :name, {:include_blank => 'Select an Actor'}, class: 'form-control', placeholder: 'Actor Name' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
